@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
} 
<div class="innerpage-container-breadcrumb">
    <div class="container">
        <h2 class="page-heading">Copyright Policy</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Copyright Policy</li>
            </ol>
        </nav>
    </div>
</div>
<div class="innerpage-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 "> 
                <p>
                    Material featured on this Website may be reproduced free of charge after taking proper permission by sending a mail to us. However, the material has to be reproduced accurately and not to be used in a derogatory manner or in a misleading context. Wherever the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material which is identified as being copyright of a third party. Authorisation to reproduce such material must be obtained from the departments/copyright holders concerned. These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.
                </p>
            </div>
        </div>
    </div>
</div>

