@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<div class="innerpage-container-breadcrumb">
    <div class="container">
        <h2 class="page-heading">Disclaimer</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Disclaimer</li>
            </ol>
        </nav>
    </div>
</div>
<div class="innerpage-container">
    <div class="container">
        <p>
            This website is brought to you by the Department of Culture, while surfing through this site you will come across directories and links to Government and Private Organizations. The contents of these sites are not to be construed as a responsibility of or endorsement by the Department of Culture and are owned by the respective organizations which may be contacted for any further information or suggestion.
        </p>
    </div>
</div>
