@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
} 
<div class="innerpage-container-breadcrumb">
    <div class="container">
        <h2 class="page-heading">Hyperlinking Policy</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Hyperlinking Policy</li>
            </ol>
        </nav>
    </div>
</div>
<div class="innerpage-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 "> 
                <p>Links to external websites/portals</p>
                <p>
                    At many places in this Website, you shall find links to other websites/portals. This links have been placed for your convenience. [Department] is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them. Mere presence of the link or its listing on this website should not be assumed as endorsement of any kind. We can not guarantee that these links will work all the time and we have no control over availability of linked pages.
                    Links to our website by other websites
                </p>
                <p>We do not object to you linking directly to the information that is hosted on this website and no prior permission is required for the same. However, we would like you to inform us about any links provided to this website so that you can be informed of any changes or updations therein. Also, we do not permit our pages to be loaded into frames on your site. The pages belonging to this website must load into a newly opened browser window of the User.</p>
            </div>
        </div>
    </div>
</div>
