@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<link href="~/css/news-and-update.css" rel="stylesheet" />
<div class="innerpage-container-breadcrumb">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            <h2 class="page-heading">News Details</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">News Details</li>
                </ol>
            </nav>
        </div>
        <button class="btn btn-sm btn-secondary" onclick="window.history.back()"><i class="bi bi-arrow-left "></i> Back to News</button>
    </div>
</div>
<div class="innerpage-container">
    <div class="container"> 
        <div class="trending-news my-3">
            <div class="row g-3">
                <div class="col-xl-8">
                    <div class="news-headline">
                        <h3>Sanction for Grants for Development of Theater & Drama 2022-23</h3>
                        <small class="mb-3 d-inline-block text-secondary"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                    </div>
                    <div class="news-details">
                        <div class="news-details__img-lg">
                            <img src="~/images/news-img.jfif" alt="Kala Sanskruti Sangha Management System" />
                        </div>
                        <div class="news-detatil-content">
                            <p>
                                <strong>Odisha:</strong> Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Quos fugit nesciunt tempora dolores,
                                voluptatum beatae voluptate pariatur. Voluptate, vel natus
                                fuga inventore laudantium tempore quod mollitia nisi.
                                Voluptas, vero. Voluptatum modi sed magnam dicta doloremque,
                                molestiae vero quos mollitia, error odio distinctio aspernatur
                                odit perferendis libero delectus est fugiat quia!"
                            </p> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card ms-xl-4">
                        <div class="card-body"> 
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-primary mb-0">Top 10 News</h4>
                                <a  class="btn btn-outline-primary btn-sm" href="../Home/NewsAndUpdate">View All</a>
                            </div>
                            <div class="trending-news__list">
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link active" href="javascript:;">
                                        Sanction for Grants for Development of Theater & Drama
                                        2022-23
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Lokakala theme for Financial Assistance
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Lokakala theme for Financial Assistance
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Sanction for Grants for Development of Theater & Drama
                                        2022-23
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Sanction for Grants for Development of Theater & Drama
                                        2022-23
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Lokakala theme for Financial Assistance
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Sanction for Grants for Development of Theater & Drama
                                        2022-23
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Sanction for Grants for Development of Theater & Drama
                                        2022-23
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                                <div class="trending-news__list-item">
                                    <img src="~/images/banner.png" alt="Kala Sanskruti Sangha Management System" class="img-fluid rounded" />
                                    <a class="card-title stretched-link" href="javascript:;">
                                        Sanction for Grants for Development of Theater & Drama
                                        2022-23
                                        <small class="d-block text-secondary mt-2"><i class="bi bi-calendar3"></i> 01-Nov-2023</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

