@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<style>
    .table a {
        text-decoration: none;
    }
    .table a:hover {
        color:var(--bs-primary);
        text-decoration: underline;
    }
</style>
<div class="innerpage-container-breadcrumb">
    <div class="container">
        <h2 class="page-heading">Screen Reader</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Screen Reader</li>
            </ol>
        </nav>
    </div>
</div>
<div class="innerpage-container">
    <div class="container">
        <h4 class="text-primary">Screen Reader Access</h4>
        <p>
            The website will enable people with visual impairments access the website using assistive technologies,
            including screen readers. The information of the website is accessible with different screen readers, such as
            JAWS, NVDA, SAFA, Supernova and Window-Eyes. Following table lists the information about different screen
            readers:
        </p>
        <div class="table-responsive h-100">
            <div class="table-responsive--rounded h-100"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">Information related to the various screen readers</th>
                        </tr>
                        <tr>
                            <th class="unit-section">Screen Reader</th>
                            <th class="date-section4">Website</th>
                            <th class="agency-section4">Free/Commercial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Non Visual Desktop Access (NVDA)</td>
                            <td>
                                <a class="external" href="http://www.nvda-project.org/" target="_blank"
                                   rel="noopener noreferrer">http://www.nvda-project.org/</a>
                            </td>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <td>System Access To Go</td>
                            <td>
                                <a class="external" href="http://www.satogo.com/" target="_blank"
                                   rel="noopener noreferrer">http://www.satogo.com/</a>
                            </td>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <td>Hal</td>
                            <td>
                                <a class="external" href="http://www.yourdolphin.co.uk/productdetail.asp?id=5" target="_blank"
                                   rel="noopener noreferrer">http://www.yourdolphin.co.uk/productdetail.asp?id=5</a>
                            </td>
                            <td>Commercial</td>
                        </tr>
                        <tr>
                            <td>JAWS</td>
                            <td>
                                <a class="external" href="http://www.freedomscientific.com/Products/software/JAWS/"
                                   target="_blank"
                                   rel="noopener noreferrer">http://www.freedomscientific.com/Products/software/JAWS/</a>
                            </td>
                            <td>Commercial</td>
                        </tr>
                        <tr>
                            <td>Supernova</td>
                            <td>
                                <a class="external" href="http://www.yourdolphin.co.uk/productdetail.asp?id=1" target="_blank"
                                   rel="noopener noreferrer">http://www.yourdolphin.co.uk/productdetail.asp?id=1</a>
                            </td>
                            <td>Commercial</td>
                        </tr>
                        <tr>
                            <td>Window-Eyes</td>
                            <td>
                                <a class="external" href="http://www.gwmicro.com/Window-Eyes/" target="_blank"
                                   rel="noopener noreferrer">http://www.gwmicro.com/Window-Eyes/</a>
                            </td>
                            <td>Commercial</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <h4 class="text-primary">Speech Recognition Support</h4>
        <p>
            The information of the website is accessible with different speech recognition software, such as Dragon
            Naturally Speaking as well as Speech Recognition support available in Windows Vista and Windows 7 operating
            systems. Following table lists the information about different speech recognition software:
        </p>
        <div class="table-responsive h-100">
            <div class="table-responsive--rounded h-100"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">Information related to Speech Recognition Software</th>
                        </tr>
                        <tr>
                            <th class="unit-section">Speech Recognition Software</th>
                            <th class="date-section4">Website</th>
                            <th class="agency-section4">Free/Commercial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Windows Speech Recognition in Windows Vista</td>
                            <td>
                                <a class="external" href="http://www.microsoft.com/enable/products/windowsvista/speech.aspx"
                                   target="_blank"
                                   rel="noopener noreferrer">http://www.microsoft.com/enable/products/windowsvista/speech.aspx</a>
                            </td>
                            <td>Commercial</td>
                        </tr>
                        <tr>
                            <td>Speech Recognition in Windows 7</td>
                            <td>
                                <a class="external" href="http://www.microsoft.com/enable/products/windows7/" target="_blank"
                                   rel="noopener noreferrer">http://www.microsoft.com/enable/products/windows7/</a>
                            </td>
                            <td>Commercial</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>