@model CTMS.Model.Entities.PaymentStructure.PaymentStructureMaster
@{
    ViewData["Title"] = "View Payment Structure";
    Layout = "~/Areas/AdminConsole/Views/Shared/_AdminConsoleLayout.cshtml";

}
@Html.AntiForgeryToken()


<div class="card card--lg">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a class="nav-link"  asp-controller="PaymentStructure" asp-action="AddPaymentStructure">
            Add
        </a>
        <a class="nav-link active"  asp-controller="PaymentStructure" asp-action="ViewPaymentStructure">
            View
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive--rounded table-responsive--datatable">
            <div class="table-responsive">
                <table class="table table-borderless" id="datatable">
                    <thead>
                        <tr>
                            <th>
                                Sl.No
                            </th>
                            <th>
                                Scheme Name
                            </th><th>
                                Category Name
                            </th>
                            <th>
                                No Of Artist
                            </th>
                            <th>
                                Remuneration
                            </th>
                            <th>
                                Contingency
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody id="bindtable">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        LoadData();
    });

    function LoadData() {
        $.ajax({
            url: "@Url.Action("ViewPaymentStructureDt", "PaymentStructure")",
            type: 'GET',
            dataType: "json",
            beforeSend: function (xhr) {
                $("#overlay").show();
            },
            success: function (data) {
                var tableBody = $('#bindtable');
                tableBody.empty();
                if (data != null) {
                    $.each(data, function (i, payment) {
                        var trows = "<tr>";
                        trows = trows + "<td>" + (i + 1) + "</td>";
                        trows = trows + "<td>" + payment.schemename + "</td>";
                        trows = trows + "<td>" + payment.categoryName + "</td>";
                        trows = trows + "<td>" + payment.noOfArtist + "</td>";
                        trows = trows + "<td>" + payment.remuneration + "</td>";
                        trows = trows + "<td>" + payment.contingency + "</td>";
                        trows = trows + "<td>" + payment.total + "</td>";
                        trows = trows + "<td>" + "<a href='../PaymentStructure/AddPaymentStructure?Id=" + payment.schemeId + "'><i class='bi bi-pencil-square' title='Edit'></i></a>&nbsp;<a onclick='deletePaymentStructure(" + payment.schemeId + ")'><i class='bi bi-trash' title='Delete' style='color: red; cursor: pointer;'></i></a>" + "</td>";
                        trows = trows + "</tr>";
                        $('#bindtable').append(trows);
                    });

                }
                else {
                    htm += '<tr><td colspan="9"><center><b>No Record found</b></center></td></tr>';
                }

                Datatable();
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                swal.fire({
                    title: "Error",
                    text: "An error occurred. Please try again later.",
                    icon: "error"
                });
            }
        });
    }
</script>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    function deletePaymentStructure(Id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("DeletePaymentStructure", "PaymentStructure")',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: { "Id": Id },
                    success: function (response) {
                        Swal.fire(
                            'Deleted!',
                            'Rate Chart Deleted Successfully!',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                var url = '@Url.Action("ViewPaymentStructure", "PaymentStructure")';
                                location.href = url;
                            }
                            else if (result.isDenied) {
                                Swal.fire('Changes are not saved', '', 'info')
                            }
                        })
                    }
                });

            }
            return false;
        })
    }
</script>