.notification-list .card {
    border-radius: .5rem;
    box-shadow: 0px 2px 7px var(--card-shadow);
    transition:.3s;
} 
.notification-list .card:hover { 
    box-shadow: 0px 6px 10px var(--card-shadow);
} 
.notification-list .card .card-body {
    padding: 1.5rem;
} 
.notification-list .card h5 { 
    font-size: 1rem; 
    font-weight: 600;
    margin-bottom: .25rem;
} 
.notification-list .card p { 
    opacity: .8;
} 
 
/*.notification-time {
    display: flex;
    align-items: center;
}*/
@media (max-width: 576px) {
    .notification-time {
        align-items: flex-start;
    }
    .notification-list li {
        padding: .25rem 0;
    }
}