@{
    ViewData["Title"] = "Notification Information";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.AntiForgeryToken()
<div class="card card--lg">
    <div class="nav nav-tabs card--lg__tabs" id="nav-tab" role="tablist">
        <a class="nav-link " id="tropue-basic-info-tab" asp-area="CMS" asp-controller="Notification" asp-action="NotificationMaster">
            Add Notification
        </a>
        <a class="nav-link active" id="artist-info-tab" asp-area="CMS" asp-controller="Notification" asp-action="ViewNotificationMaster">
            Notification Details
        </a>
    </div>
    <div class="card-body">
        <h5 class="view-form-details__title mt-0">Notification Information</h5>
        <div class="table-responsive--rounded table-responsive--datatable">
            <div class="table-responsive">
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>
                                Sl#
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Title(Odia)
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Description(Odia)
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                End Date
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>         
</div>
<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
    $(document).ready(function () {
        Get_ManageFAQ(0);
    });
    function Get_ManageFAQ(id) {
        $.ajax({
            type: 'Get',
            dataType: 'Json',
            contentType: 'application/json; charset=utf-8',
            data: {Id:id},
            url: "@Url.Action("GetNotificationMaster", "Notification", new {area="CMS"})",
            success: function (result) {
                var data1 = JSON.parse(result);
                if (data1.length > 0) {
                    $('#datatable.tbody').empty();
                    $.each(data1, function (i, data) {
                        var trows = "<tr>";
                        trows = trows + "<td>" + (i + 1) + "</td>";
                        trows = trows + "<td style='white-space: pre-line;'>" + data.Title + "</td>";
                        trows = trows + "<td style='white-space: pre-line;'>" + data.TitleOd + "</td>";
                        trows = trows + "<td style='white-space: pre-line;'>" + data.Description + "</td>";
                        trows = trows + "<td style='white-space: pre-line;'>" + data.DescriptionOd + "</td>";
                        trows = trows + "<td>" + data.StartDate + "</td>";
                        trows = trows + "<td>" + data.EndDate + "</td>";
                        trows = trows + "<td>" + "<a href='../Notification/NotificationMaster?strid=" + data.Id + "'><i class='bi bi-pencil-square' title='Edit'></i></a>&nbsp;<a onclick='Delete_ManageFAQ(" + data.Id + ")'><i class='bi bi-trash' title='Delete' style='color: red; cursor: pointer;'></i></a>" + "</td>";
                        trows = trows + "</tr>";
                        $('#datatable').append(trows);
                    });
                }
                Datatable();
            },
            error: function (Message) {
                alert(Message);
            }
        });
    }

    function Delete_ManageFAQ(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "Delete",
                    dataType: "json",
                    url: "@Url.Action("DeleteNotificationMaster", "Notification", new {area="CMS"})",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: { "Id": id },
                    success: function (response) {
                        Swal.fire(
                            'Success!',
                            'Notification Deleted Successfully!',
                            'success'
                        ).then((result) => {
                            if (result.isConfirmed) {
                                var url = '@Url.Action("ViewNotificationMaster", "Notification", new { area = "CMS" })';
                                location.href = url;
                            }
                            else if (result.isDenied) {
                                Swal.fire('Changes are not saved', '', 'info')
                            }
                        })
                    }
                });

            }
            return false;
        })
    }
</script>