
@{
ViewData["Title"] = "DistrictWiseReport";
}
<div class="row">
		@Html.AntiForgeryToken()
			@*Write code here*@
</div>
			@section scripts {
				 
	<script type="text/javascript" nonce="uG2bsk6JIH923nsvp01n24KE">
        $("#form").validate({
            rules: {
                DISTID: {
                    required: true
                },
                DISTCODE: {
                    required: true
                },
                DISTNAME: {
                    required: true
                },
                LGDTYPE: {
                    required: true
                },
                CREATEDBY: {
                    required: true
                },
                CREATEDON: {
                    required: true
                },
                UPDATEDBY: {
                    required: true
                },
                UPDATEDON: {
                    required: true
                },
                DELETEDFLAG: {
                    required: true
                },
                EXPECTEDENUMERATOR: {
                    required: true
                },
                EXPECTEDSUPERVISOR: {
                    required: true
                },
                EXPECTEDRVENUMERATOR: {
                    required: true
                },
                EXPECTEDRVSUPERVISOR: {
                    required: true
                },
                MCEXPECTEDENUMERATOR: {
                    required: true
                },
                MCEXPECTEDSUPERVISOR: {
                    required: true
                },
                MCEXPECTEDRVENUMERATOR: {
                    required: true
                },
                MCEXPECTEDRVSUPERVISOR: {
                    required: true
                },
                EXPECTEDSURVEYCENTER: {
                    required: true
                },
                EXPECTEDMCSURVEYCENTER: {
                    required: true
                },
                DISTNAMEOD: {
                    required: true
                },
                            },
            messages: {
                DISTID: {
                    required: "Please enter DISTID"
                 },
                DISTCODE: {
                    required: "Please enter DISTCODE"
                 },
                DISTNAME: {
                    required: "Please enter DISTNAME"
                 },
                LGDTYPE: {
                    required: "Please enter LGDTYPE"
                 },
                CREATEDBY: {
                    required: "Please enter CREATEDBY"
                 },
                CREATEDON: {
                    required: "Please enter CREATEDON"
                 },
                UPDATEDBY: {
                    required: "Please enter UPDATEDBY"
                 },
                UPDATEDON: {
                    required: "Please enter UPDATEDON"
                 },
                DELETEDFLAG: {
                    required: "Please enter DELETEDFLAG"
                 },
                EXPECTEDENUMERATOR: {
                    required: "Please enter EXPECTEDENUMERATOR"
                 },
                EXPECTEDSUPERVISOR: {
                    required: "Please enter EXPECTEDSUPERVISOR"
                 },
                EXPECTEDRVENUMERATOR: {
                    required: "Please enter EXPECTEDRVENUMERATOR"
                 },
                EXPECTEDRVSUPERVISOR: {
                    required: "Please enter EXPECTEDRVSUPERVISOR"
                 },
                MCEXPECTEDENUMERATOR: {
                    required: "Please enter MCEXPECTEDENUMERATOR"
                 },
                MCEXPECTEDSUPERVISOR: {
                    required: "Please enter MCEXPECTEDSUPERVISOR"
                 },
                MCEXPECTEDRVENUMERATOR: {
                    required: "Please enter MCEXPECTEDRVENUMERATOR"
                 },
                MCEXPECTEDRVSUPERVISOR: {
                    required: "Please enter MCEXPECTEDRVSUPERVISOR"
                 },
                EXPECTEDSURVEYCENTER: {
                    required: "Please enter EXPECTEDSURVEYCENTER"
                 },
                EXPECTEDMCSURVEYCENTER: {
                    required: "Please enter EXPECTEDMCSURVEYCENTER"
                 },
                DISTNAMEOD: {
                    required: "Please enter DISTNAMEOD"
                 },
                
           },
            	
            highlight: function (element) {	
                $(element).removeClass("is-valid")		
                $(element).parent().addClass('error')		
                $(element).addClass("is-invalid")	
            },	
            unhighlight: function (element) {	
                $(element).parent().removeClass('error')	
                $(element).removeClass("is-invalid");	
                $(element).addClass("is-valid")	
            }	
        });
			function Sava_DistrictWiseReport() {
			if ($("#form").valid()) {
					
					var DistMaster ={ 
			DISTID:$("#DISTID").val(),
					DISTCODE:$("#DISTCODE").val(),
					DISTNAME:$("#DISTNAME").val(),
					LGDTYPE:$("#LGDTYPE").val(),
					CREATEDBY:$("#CREATEDBY").val(),
					CREATEDON:$("#CREATEDON").val(),
					UPDATEDBY:$("#UPDATEDBY").val(),
					UPDATEDON:$("#UPDATEDON").val(),
					DELETEDFLAG:$("#DELETEDFLAG").val(),
					EXPECTEDENUMERATOR:$("#EXPECTEDENUMERATOR").val(),
					EXPECTEDSUPERVISOR:$("#EXPECTEDSUPERVISOR").val(),
					EXPECTEDRVENUMERATOR:$("#EXPECTEDRVENUMERATOR").val(),
					EXPECTEDRVSUPERVISOR:$("#EXPECTEDRVSUPERVISOR").val(),
					MCEXPECTEDENUMERATOR:$("#MCEXPECTEDENUMERATOR").val(),
					MCEXPECTEDSUPERVISOR:$("#MCEXPECTEDSUPERVISOR").val(),
					MCEXPECTEDRVENUMERATOR:$("#MCEXPECTEDRVENUMERATOR").val(),
					MCEXPECTEDRVSUPERVISOR:$("#MCEXPECTEDRVSUPERVISOR").val(),
					EXPECTEDSURVEYCENTER:$("#EXPECTEDSURVEYCENTER").val(),
					EXPECTEDMCSURVEYCENTER:$("#EXPECTEDMCSURVEYCENTER").val(),
					DISTNAMEOD:$("#DISTNAMEOD").val(),
					
				};
			$.ajax({
				type: "POST",
				url: "/Report/DistrictWiseReport",
			beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
			data:DistMaster,
			content: 'application/json;charset=utf-8',
			dataType: "json",
			success: function (result) {
						Swal.fire({
							icon: 'success',
							title: result.responseText,
							text: result.responseMessage,
						});
					},
			error: function (result) {
						Swal.fire({
							icon: 'error',
							title: result.responseText,
							text: result.responseMessage,
						});
					}, 
			});
			}
		}
		</script>
}
